@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Audiowide');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One');

@font-face {
  font-family: 'CygnitoMonoPro';
  src: url('assets/CygnitoMonoPro-BoldR.otf');
  font-weight: normal;
  font-style: normal;
}

#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* disable pull-to-refresh effect */
  overflow: hidden;
}


.draggable:hover {
  cursor: move;
}

.dragging {
  cursor: grabbing;
}

.target {
  cursor: crosshair;
}

.grabbable {
  cursor: grab;
}

.sizable:hover {
  cursor: nwse-resize;
}

.clickable:hover {
  cursor: pointer;
}

.sizable-left:hover {
  cursor: nwse-resize;
}

.sizable-right:hover {
  cursor: nesw-resize;
}

.editable:hover {
  cursor: text;
}

.DraftEditor-root {
  height: 100% !important;
  width: 100%;
}

.DraftEditor-root figure {
  margin: 0;
}

.text-align-left > .public-DraftStyleDefault-block {
  text-align: left;
}

.text-align-center > .public-DraftStyleDefault-block {
  text-align: center;
}

.text-align-right > .public-DraftStyleDefault-block {
  text-align: right;
}

.blockquote > .public-DraftStyleDefault-block {
  padding: 0.5rem 0.75rem;
  border-left: 4px solid rgba(125, 125, 125, 0.5);
}


.DraftEditor-editorContainer .journal-link {
  text-decoration: underline;
  color: inherit;
}

.DraftEditor-editorContainer .journal-link:hover {
  cursor: pointer
}

.react-flow__attribution {
  display: none !important;
}

.react-flow__resize-control.handle {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50% !important;
  z-index: 100;
}

.react-flow__resize-control.handle.hidden {
  display: none !important;
}

.sheet-text-container {
  container-type: size;
  width: 100%;
  flex-grow: 1;
}

.sheet-text-container  .auto-scale {
  /* 100% of the height of the container, clamped between 1 and 30 rem */
  font-size: clamp(1rem, 100cqh, 30rem);
}

.sheet-text-container  .archetype-auto-scale {
  /* 30% of the height of the container, clamped between 1 and 20 rem */
  font-size: clamp(1rem, 30cqh, 20rem);
  text-align: center;
}

.react-flow__node .input-node .chakra-numberinput__field, .input-node .chakra-input {
  border: none !important;
}

.chakra-popover__popper {
  z-index: 1000 !important;
}
