########################################################################
# FOLDERS
########################################################################

node_modules/
bin
build
cdk.out
.vscode
.husky
lib/infrastructure/prisma-layer

########################################################################
# FILES
########################################################################
*.env*
*.ico
*.jpg
*.png
*.rules
*.svg
*.txt
.eslintignore
.gitignore
.gitkeep
.nvmrc
.npcrc
.prettierignore
.DS_Store