########################################################################
# FOLDERS
########################################################################


.github/
.husky/
.next/
.vscode/
node_modules
build
cdk.out
bin
lib/infrastructure/prisma-layer/dist
lib/infrastructure/prisma-layer/prisma
lib/infrastructure/prisma-layer/node_modules

########################################################################
# FILES
########################################################################
*.env*
*.ico
*.jpg
*.png
*.rules
*.svg
*.txt
.eslintignore
.gitignore
.gitkeep
.nvmrc
.npmrc
.prettierignore
.DS_Store
